page-home {}

.logohome {
    margin: 0 auto;
    width: 30%;
    display: inherit;
}

.scroll-content {
    background: #CED8F6;
}

.titulohome {
    text-align: center;
    font-size: 4em;
}

.parrafohome {
    font-size: 2em;
    text-align: center;
}